<html lang="fr">
<head>
    <title>Ajouter un client</title>
</head>
<body>
    <h2>Ajouter un nouveau client</h2>
    <form action="/add_client" method="post">
        <label for="nom">Nom :</label><br>
        <input type="text" id="nom" name="nom"><br>

        <label for="prenom">Prénom :</label><br>
        <input type="text" id="prenom" name="prenom"><br>

        <label for="adresse">Adresse :</label><br>
        <input type="text" id="email" name="email"><br><br>

        <input type="submit" value="Ajouter">
    </form>
</body>
</html>
