<!DOCTYPE html>
<html>
<head>
    <title>Menu with Dropdown List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles_list.css') }}">
</head>
<body>
    <h1>Select a Fruit:</h1>
    <form>
        <select name="client" id="client">
            <option value="apple">Apple</option>
            <option value="banana">Banana</option>
            <option value="cherry">Cherry</option>
            <option value="orange">Orange</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
