<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MSPR - Rechercher un produit</title>
</head>
<body>

    <h2>MSPR / Rechercher un produit</h2>

    <form action="/mspr_Chercher_Produit" method="post">
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" required><br>

        <input type="submit" value="Rechercher">
        <input type="reset" value="Clear">
    </form>

</body>
</html>
