<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MSPR - Ajouter un nouveau client</title>
</head>
<body>

    <h2>MSPR - Ajouter un nouveau client</h2>

    <form action="/mspr_Ajouter_Client" method="post">
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" required><br>

        <label for="prenom">Prénom :</label>
        <input type="text" id="prenom" name="prenom" required><br>

        <label for="email">Email :</label>
        <input type="text" id="email" name="email" required><br>

        <label for="telephone">Telephone :</label>
        <input type="text" id="telephone" name="telephone" required><br>

        <input type="submit" value="Ajouter">
    </form>

</body>
</html>
